################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/AmorPropio/App.config
/.gitignore
/AmorPropio/App.config
